<form method="POST" action="/todos">
    <div class="form-group">
        <input class="form-control" type="text" name="task" placeholder="Add new task..." required />
        <input class="form-control" type="text" name="email" placeholder="User email..." required />
        <input class="form-control" type="text" name="phone" placeholder="User phone..." required />
    </div>
    <button class="form-control" type="submit">Add Task</button>
</form>
